body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: pink;
}

p {
    background-color: green;
    padding: 30px;
    margin: 20px;
}

